body {
    background-color: deepskyblue;
    padding-top:0;
    padding-bottom: 0;
    margin:0;
}

.invis {
    display: none;
}

#navi{
    float: left;
    position: absolute;
    left: -30px;
    background-color: rgba(192,192,192,0.4);
    border-radius: 10px;
    width: 100px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    float: left;
    position: relative;
    left: 70px;
    right: 110px;
    width: 95%;
    margin-top: 0;
    margin-right: 0;
    padding-left:30px ;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
}

#mainBlock {
    clear:left;
    position: relative;
    left: 70px;
    right: 110px;
    width: 96%;
    height: 100%;
    margin: 0;
    padding:0;
}

#mainContent {
    margin:0;
    padding:0;
}

#forecastBlock{
    padding: 0;
    margin:0 0 5px 0;
    width:95%;
    height:835px;
}

#sidebar{float:right;
    width:199px;
    height: 835px;
    border-left: 1px solid azure;
}

#today{
    float:left;
    width: 1530px;;
    height:417px;
    border-top: 1px solid azure;
    border-bottom:1px solid azure ;
    margin: 0;
    font-size: 5em;
    color: azure;
}

#next4days{
    float:left;
    width: 1530px;
    height: 417px;
    margin:0;
    border-bottom: 1px solid azure;
}

.nextDays {
    display: inline;
    color: azure;
    font-size: 2em;
    width:390px;
}

section#day1.nextDays {
    width:390px;
    height: 100px;
}


footer{
    position:absolute;
    right:70px;
    width:100%;
    padding-top:0;
    padding-bottom: 0;
    text-align:center;
    margin:0;
    font-size:0.5em;
}