body{
    padding:0;
    background-color: dodgerblue;
}
.page {
    margin:5px  auto 20px ;
    padding-top:0px;
    position:relative;
    width:1000px;

}

/*#menu{position:relative;
    width:1050px;
    margin:0  auto 0;
    padding:10px }
*/
#icons{
    position:relative;
    top:-10px;
    margin: 0 auto;
    padding: 5px;

    width: 1000px;
    height:30px;
    background-color: honeydew;
    border-radius: 0 0 10px 10px;
}


#icons ul, li{
    padding:0 0 0 5px;
    list-style-type: none;
    display: inline;

}


header{
    padding:0;
    margin:0 0 5px 0;
}

/*Content area*/

#mainPage{
    width: inherit;
    padding: 0;
    font-size: 70px;
    text-align: center;
    margin:0;
    color:white;
    text-shadow:1px 1px black;
}

footer{
    text-align: center;
    color:white;
    padding: 2px 0;
    margin: 0;
    background-color: deepskyblue;
}

/*INFORMATION AREA*/

#content{background-color: deepskyblue}

/*Current info deck*/
#today{
    width: inherit;
    height: 500px;
}

#currentDate h2 {
    position: relative;
    left:150px;
    width:400px;
    height:100px;
    margin:0;
    padding:0;
    color:white;
    font-size: 3em;
}



#imagePlace{
    position:relative;
    left:0;
    top:-150px;
    width: 600px;
    padding:0;
    margin:150px 0 0 0;
}

#primeTemperature{
    float:right;
    padding:0;
    margin:0;
    width:140px;
    font-size: 65px;
    color:white;
}

/* Next days area deck*/
#nextDays{
    height:200px;
    display: flex;
    padding:0;
    margin:0;
    background-color: dodgerblue;

}
.nextD{
    width:220px;
    padding:0;
    margin:15px;
    background-color: deepskyblue;
    text-align: center;
    color:white;
    font-size: 2em;
}


.smallPic{
    position:relative;
    float:left;
    left:20px;

}

.temperature{
    float:right;
    padding:0;
    margin:0;
    width:50px;
    font-size: 20px;
    color:white;
}

/*backwards*/