body {
    background-color: deepskyblue;
}

#mainHeader {
    position:relative;
    left: 100px;
    width: 92%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 50px;

}

#mainHeader h1{
    color:whitesmoke;
    font-size: 3em;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
}

nav {
    position: fixed;
    top:0;
    left:-10px;
    height: 100%;
    width: 110px;
    background-color: rgba(121,107,107,0.7);
    text-align: center;
    padding-top:0;
    color:white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;


}


#content{
    position: relative;
    left:100px;
    right:100px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    height: 800px;
    width: 80% ;
    margin-right: 5px;

}

aside{
    position:relative;
    left:100px;
    right:90px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    height: 800px;
    width:14%;
    margin-left:5px;

}


footer{
    clear: both;
    background-color: aliceblue;
    position:fixed;
    left: 100px;
    width: 95%;
    bottom: 0px;
    font-size: 0.5em;
    text-align: center;
}
