body{
    background-color: deepskyblue;
    text-align: center;
}
#wrap{
    text-align: center;
    width: 800px;
    margin-left: 30%;
    margin-right: 30%;
    padding:0 ;
    background-color: antiquewhite;
}

table tr,th,td{
    border:1px solid black;
    text-align: center;
}